*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.box-1{
    
    border:1px solid linear-gradient(rgba(255, 0, 0, 0.087) blue);
    margin:0 auto;
    padding:8px;
    height:500px;
    width:300px;
    position: relative;
    border-radius: 14px;
    cursor: pointer;

}

 img{
    width:100%;
    height:200px;
    border-radius:14px;
}

.box-2{
    
    margin:0 auto;
    padding:8px;
    height:500px;
    width:300px;
    position:absolute;
    cursor:pointer;
    border-radius: 14px;
    top:80px;
    left:30px;
}
