*
{
    margin:0;
    padding:0;
}
body{
    height:100vh;
}

.box{
    height:100vh;
    width:90vw;
    margin:0px auto;
    border:1px solid black;
    background-color: rgb(243, 232, 110);
    position:relative;
}

.black{
    height:50px;
    width:50px;
    background-color: black;
    position: absolute;
    top:0px;
}
.red{
    height:50px;
    width:50px;
    background-color: red;
    
    left:50px;

}

.blue{
    height:50px;
    width:50px;
    background-color: blue;
    position:absolute;
    top:10px;

    
}

button{
    position:sticky;
    background-color: aquamarine;
    top:100px;
    left:60px;
}