*
{
    margin:0;
    padding:0;
}
body{
    height:100vh;
}
/* .container{
    height:100vh;
    width:90vw;
    margin:0px auto;
    border:1px solid black;
    background-color: rgba(18, 137, 227, 0.554);
    position: relative;

} */

.yellow-box{
    height:90vh;
    width:80vw;
    margin:0px auto;
    border:1px solid black;
    background-color: rgb(243, 232, 110);
    position:relative;

}

.black{
    height:50px;
    width:50px;
    background-color: black;
    position: absolute;
    top:2px;
    
}
.red{
    height:50px;
    width:50px;
    background-color: red;
    /* position:relative; */
    position:sticky;
    top:500px;
    left:300px;
}

.blue{
    height:50px;
    width:50px;
    background-color: blue;
    /* position: relative; */
    left:20px;
}

button{
    position:sticky;
    background-color: aquamarine;
    
}