*{
    margin:0;
    padding: 0;
}

.image_trail{
  
  height: 300px;
  width:240px;
  padding:8px;
  margin:0px auto;
  position:relative;
  border-radius:14px;
}

.image_trail::before{
  content: "";
  box-shadow: 10px 10px 10px rgb(220, 36, 36);
}

.image_trail::after{
  box-shadow: 2px 5px 7px rgb(0, 255, 98);
}

.image_trail:hover{
  cursor: pointer;
}

.hanuman:hover{
  border-radius:12px;
  box-shadow: 10px 10px 10px rgb(0, 166, 255);
}
.taj_mahal:hover{
  cursor: pointer;
  border-radius:12px;
  box-shadow: 10px 10px 10px  rgb(0, 166, 255);
}

.image{
  height: 300px;
  width:240px;
  padding:8px;
  margin:0px auto;
  position: absolute;
  top:80px;
  left:180px;
  border-radius:14px;
  }


.hanuman{
   width:100%;
   height:200px;
}
.taj_mahal{
   width:100%;
}