/* *
{
    margin:0;
    box-sizing: border-box;
}

.box{
    border:1px solid black;
    width:360px;
    height:400px;
    margin: 0 auto;
    padding:8px;
    background-color: aquamarine;
    border-radius: 20px;
    color: beige;
}

h1{
    margin-top: 10px;
} */

/* box-model->
border
margin
padding
color
background-color
border-radius */

.box{
    border:2px solid whitesmoke;
    width:300px;
    height:400px;
    margin:0px auto;
    padding:4px;
    border-radius: 10px;
    box-sizing: border-box;
}
h1{
    font-size:18px;
}

img{
    width:100%;
    height:200px;
}

.insta
{
    border: 1px solid black;
    width:500px;
    height:300px;
    border-radius:10px;

}
.instalogo{
   border-bottom:1px solid black;
   align-content: center; 
   border-radius: inherit;
}


svg{
    height:60px;
    width:100px;
    display: block;
    margin: 0px auto;
}

.kannabhailogo{

}

.svg_hanuman{
    height:120px;
    width: 100px;
    display:block;
    border-radius: 50%;
    margin:6px auto;

}

